<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> YMChat demo </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">YM Chatbot Demo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button size="large" color="warning" (click)="startYmChatBot()"
      >Open chatbot</ion-button
    >
    <ion-button size="large" color="warning" (click)="logout()"
      >UnLink device token</ion-button
    >
  </div>
</ion-content>
